$url: '../../img/header/';
#headBox{position: fixed; top:0; left:0; z-index: 50;
	width: 100%; height: 125px;}
 .innerarea{width: 1180px; height: 100%; margin: auto;}

.upperhead{width: 100%; height: 40px; background-color: #f7f7f7; 
 	line-height: 40px; font-size: 13px; font-weight: bold;}
 .link_menu{float: left; width: 270px; height: 100%;
  li{float: left; position:relative;
  	width: auto; height: 100%; margin: 0 10px;
  	&:after,&::after{content: " "; display: block; 
		position: absolute; top: 0; bottom: 0; margin: auto; left: -10px;
  		width: 0; height: 30%; border-right: 1px solid #777;}
  	&:last-child{margin-right: 0;}
  	&:first-child{margin-left: 0;}
  	&:first-child:after,&:first-child::after{display: none;}
    a{display: block;width: 100%; height: 100%;
    &:hover,&:focus{@include hover;}}}}
 .utilty_menu{float: right; width: 180px; height: 100%;
  li{float: left; margin-right: 10px;
  	a:hover,a:focus{@include hover;}}}

//언어 
 .lang_menu{float: right; width: 220px; height: 100%;
  li{float: left; 
//대한민국
  	&:nth-child(1){position:relative;
 //화살표
	span{display:block; float: left; position: absolute; top:12px; left: 65px;
	width: 18px; height:18px; background-color: $white;
	border-radius: 100%;
  &:before{content: " "; display: inline-block; position: absolute; top:30%; left: 35%;
  	border: solid #777; border-width: 0 2px 2px 0; padding: 2px; transform:rotate(45deg);}}
 //지구본
  &:before{content: " "; display: block; float:left; width: 20px; height: 20px; 
  			margin-top: 10px; margin-left: -12px; 
  			background:url($url + 'ico_earth.png') no-repeat 50% 50% / 70% auto;}
  	a{display: block; width: 100%; height: 20px; 
  	 padding-right: 10px; margin-top: 10px; margin-left: 10px;
  	 line-height: 20px;}}
//한국어
  	&:nth-child(2){position: relative; text-decoration: underline;
  		margin-left: 50px;
  	 &:after,&::after{content: " "; display: block; 
		position: absolute; top: 0; bottom: 0; margin: auto; left: -20px;
  		width: 0; height: 30%; border-right: 1px solid #777;}}
//English
  	&:nth-child(3){margin-left: 10px; text-transform: capitalize;}}}

.lowerhead{width: 100%; height: 85px; background-color: #fff;}
 h1{float: left; width: 200px; height: 40px; margin-top:22px; 
 	a{display: block; width: 100%; height: 100%;
 		background:url($url + 'logo_header.png') no-repeat 50% 50% / 90% auto;
 	&:hover,&:focus{background-size: contain; outline: none;}}}
//네비게이션
 .gnb {float: left;width: 550px; height: 100%;
 	margin-left:100px;
  >ul{width: 100%; height: 100%; 
  	>li{float: left; width: 120px; height: 100%;
  		margin: 0 5px; 
  		font-size: 18px; font-weight: bold; 
  		text-align: center; line-height: 85px;
    &:nth-child(3) .gnb_conts>li{height: 420px;}
    &:nth-child(4) .gnb_conts>li{width: 22%;
     .asiana_club{width: 200px; height: 280px; 
      margin-left: 50px; margin-top: 30px;
      background:url($url + 'asiana_club.jpeg') no-repeat 50% 0% /auto 100% ;
      a{display: block; width: 100%; height: 100%;
        &:hover,&:focus{background-color: rgba(0,0,0,0.3);}}}
      &:last-child:after{display: none;}}
  	>a{display: block; width: 100%; height: 100%;}}}}
//네비게이션 내용
 .gnb_conts{display:none; position: fixed; left: 0;top: 125px; 
  width: 100%; min-width: 1180px; height: auto; margin: auto;
  border-top: 2px solid #777; box-sizing: border-box;
  background-color: $white;
  li{position: relative;
    float: left; width: 17%; min-width: 200px; height: 350px;
    text-align: left; text-indent: 30px;
    &:first-child{ margin-left: 5%;}
    &:after{content: " "; position: absolute; 
      top: 0; bottom:0 ;left: 0; margin: auto;
      width: 0; height: 80%;
      border-right: 1px solid #bbb;}
    >div{display:block; width: auto; height: 40px; 
      margin: 25px 0 15px;
      font-size: 16px; line-height: 40px;
      a:hover,a:focus{font-size: 18px; outline: none;}}
    >dl{width: 100%; height: auto;
      dt{width: auto; height: 40px;
        margin: 25px 0 15px;  
        font-size: 16px; line-height: 40px;
        a:hover,a:focus{font-size: 18px; outline: none;}}
      dd{width: auto; height: 30px; font-weight: normal;
        font-size: 14px; line-height: 30px;
        a:hover,a:focus{@include hover;}}}}}

 .nav_etc {float: right; width: 170px; height: 85px; 
 	padding: 22px 0; box-sizing:border-box;
  li{float: left; width: 45px; height: 40px;
  	margin-left: 10px; 
  	&:nth-child(1) a{background:url($url + 'gnb_ico_chatbot_on.png') no-repeat 50% 50% /auto 80% ;}
  	&:nth-child(2) a{background:url($url + 'gnb_ico_myasiana_on.png') no-repeat 50% 50% /auto 60%;}
  	&:nth-child(3) a{background:url($url + 'gnb_ico_search_on.png') no-repeat 50% 50% /auto 60%;}
   a{display: block; width: 100%; height: 100%; opacity: 0.6;
   	&:hover,&:focus{opacity: 1; outline: none;}}}}