$url: '../../img/main_slide/';
.main_slide{width: 100%; height: 50vh; min-height: 300px; background-color: #f00;
 >ul{position:relative; width: 100%; height: 100%;
 >li{position:absolute; width: 100%; height: 100%;
 	&:nth-child(1){background:url($url + 'slide_01.jpeg') no-repeat 50% 50% / 100% auto;}
 	&:nth-child(2){background:url($url + 'slide_02.jpeg') no-repeat 50% 50% / 100% auto;}
 	&:nth-child(3){background:url($url + 'slide_03.jpeg') no-repeat 50% 50% / 100% auto;}
 	&:nth-child(4){background:url($url + 'slide_04.jpeg') no-repeat 50% 50% / 100% auto;}
 	&:nth-child(5){background:url($url + 'slide_05.jpeg') no-repeat 50% 50% / 100% auto;}
 	&:nth-child(6){background:url($url + 'slide_06.jpeg') no-repeat 50% 50% / 100% auto;}
 a{display: block; width: 100%; height: 100%;}}}}

.main_indicator{position: absolute; top:358px; left: 0; right: 0; margin: auto;	z-index: 20;
	width: 154px; height: 22px; background-color: rgba(0,0,0,0.7);
 >ul{/* padding:5px; box-sizing:border-box; */
 >li{float:left; width: 12px; height: 12px; margin-left: 5px; margin-top: 5px;
 	border-radius:12px; background-color: $white;
  &.slide_on{background-color: transparent; margin-top:3px; border: $on solid 2px;}}}}
.quickreserve{position: absolute; top:0; left: 0; right: 0; margin: auto;
 	width: 1280px; height: 200px; margin-top:380px; background-color: $white;}
