/*main.css */
#headBox { position: fixed; top: 0; left: 0; z-index: 50; width: 100%; height: 125px; }

.innerarea { width: 1180px; height: 100%; margin: auto; }

.upperhead { width: 100%; height: 40px; background-color: #f7f7f7; line-height: 40px; font-size: 13px; font-weight: bold; }

.link_menu { float: left; width: 270px; height: 100%; }

.link_menu li { float: left; position: relative; width: auto; height: 100%; margin: 0 10px; }

.link_menu li:after, .link_menu li::after { content: " "; display: block; position: absolute; top: 0; bottom: 0; margin: auto; left: -10px; width: 0; height: 30%; border-right: 1px solid #777; }

.link_menu li:last-child { margin-right: 0; }

.link_menu li:first-child { margin-left: 0; }

.link_menu li:first-child:after, .link_menu li:first-child::after { display: none; }

.link_menu li a { display: block; width: 100%; height: 100%; }

.link_menu li a:hover, .link_menu li a:focus { color: #D60815; text-decoration: underline; outline: none; }

.utilty_menu { float: right; width: 180px; height: 100%; }

.utilty_menu li { float: left; margin-right: 10px; }

.utilty_menu li a:hover, .utilty_menu li a:focus { color: #D60815; text-decoration: underline; outline: none; }

.lang_menu { float: right; width: 220px; height: 100%; }

.lang_menu li { float: left; }

.lang_menu li:nth-child(1) { position: relative; }

.lang_menu li:nth-child(1) span { display: block; float: left; position: absolute; top: 12px; left: 65px; width: 18px; height: 18px; background-color: #fff; border-radius: 100%; }

.lang_menu li:nth-child(1) span:before { content: " "; display: inline-block; position: absolute; top: 30%; left: 35%; border: solid #777; border-width: 0 2px 2px 0; padding: 2px; transform: rotate(45deg); }

.lang_menu li:nth-child(1):before { content: " "; display: block; float: left; width: 20px; height: 20px; margin-top: 10px; margin-left: -12px; background: url("../../img/header/ico_earth.png") no-repeat 50% 50%/70% auto; }

.lang_menu li:nth-child(1) a { display: block; width: 100%; height: 20px; padding-right: 10px; margin-top: 10px; margin-left: 10px; line-height: 20px; }

.lang_menu li:nth-child(2) { position: relative; text-decoration: underline; margin-left: 50px; }

.lang_menu li:nth-child(2):after, .lang_menu li:nth-child(2)::after { content: " "; display: block; position: absolute; top: 0; bottom: 0; margin: auto; left: -20px; width: 0; height: 30%; border-right: 1px solid #777; }

.lang_menu li:nth-child(3) { margin-left: 10px; text-transform: capitalize; }

.lowerhead { width: 100%; height: 85px; background-color: #fff; }

h1 { float: left; width: 200px; height: 40px; margin-top: 22px; }

h1 a { display: block; width: 100%; height: 100%; background: url("../../img/header/logo_header.png") no-repeat 50% 50%/90% auto; }

h1 a:hover, h1 a:focus { background-size: contain; outline: none; }

.gnb { float: left; width: 550px; height: 100%; margin-left: 100px; }

.gnb > ul { width: 100%; height: 100%; }

.gnb > ul > li { float: left; width: 120px; height: 100%; margin: 0 5px; font-size: 18px; font-weight: bold; text-align: center; line-height: 85px; }

.gnb > ul > li:nth-child(3) .gnb_conts > li { height: 420px; }

.gnb > ul > li:nth-child(4) .gnb_conts > li { width: 22%; }

.gnb > ul > li:nth-child(4) .gnb_conts > li .asiana_club { width: 200px; height: 280px; margin-left: 50px; margin-top: 30px; background: url("../../img/header/asiana_club.jpeg") no-repeat 50% 0%/auto 100%; }

.gnb > ul > li:nth-child(4) .gnb_conts > li .asiana_club a { display: block; width: 100%; height: 100%; }

.gnb > ul > li:nth-child(4) .gnb_conts > li .asiana_club a:hover, .gnb > ul > li:nth-child(4) .gnb_conts > li .asiana_club a:focus { background-color: rgba(0, 0, 0, 0.3); }

.gnb > ul > li:nth-child(4) .gnb_conts > li:last-child:after { display: none; }

.gnb > ul > li > a { display: block; width: 100%; height: 100%; }

.gnb > ul > li > a:hover, .gnb > ul > li > a:focus { outline: none; }

.gnb_conts { display: none; position: fixed; left: 0; top: 125px; width: 100%; min-width: 1180px; height: auto; margin: auto; border-top: 1px solid #777; box-sizing: border-box; background-color: #fff; box-shadow: 0 5px 10px #ddd; }

.gnb_conts li { position: relative; float: left; width: 17%; min-width: 200px; height: 350px; text-align: left; text-indent: 30px; }

.gnb_conts li:first-child { margin-left: 5%; }

.gnb_conts li:after { content: " "; position: absolute; top: 0; bottom: 0; left: 0; margin: auto; width: 0; height: 80%; border-right: 1px solid #ddd; }

.gnb_conts li > div { display: block; width: auto; height: 40px; margin: 25px 0 15px; font-size: 16px; line-height: 40px; }

.gnb_conts li > div a:hover, .gnb_conts li > div a:focus { font-size: 18px; outline: none; }

.gnb_conts li > dl { width: 100%; height: auto; }

.gnb_conts li > dl dt { width: auto; height: 40px; margin: 25px 0 15px; font-size: 16px; line-height: 40px; }

.gnb_conts li > dl dt a:hover, .gnb_conts li > dl dt a:focus { font-size: 18px; outline: none; }

.gnb_conts li > dl dd { width: auto; height: 30px; font-weight: normal; font-size: 14px; line-height: 30px; }

.gnb_conts li > dl dd a:hover, .gnb_conts li > dl dd a:focus { color: #D60815; text-decoration: underline; outline: none; }

.gnbline { display: none; position: relative; top: -4px; left: 0; z-index: 60; width: 120px; height: 5px; background-color: #D60815; }

.nav_etc { float: right; width: 170px; height: 85px; padding: 22px 0; box-sizing: border-box; }

.nav_etc li { float: left; width: 45px; height: 40px; margin-left: 10px; }

.nav_etc li:nth-child(1) a { background: url("../../img/header/gnb_ico_chatbot_on.png") no-repeat 50% 50%/auto 80%; }

.nav_etc li:nth-child(2) a { background: url("../../img/header/gnb_ico_myasiana_on.png") no-repeat 50% 50%/auto 60%; }

.nav_etc li:nth-child(3) a { background: url("../../img/header/gnb_ico_search_on.png") no-repeat 50% 50%/auto 60%; }

.nav_etc li a { display: block; width: 100%; height: 100%; opacity: 0.6; }

.nav_etc li a:hover, .nav_etc li a:focus { opacity: 1; outline: none; }

#wrap { width: 100%; min-width: 1180px; height: auto; background-color: #fff; }

#contentBox { width: 100%; height: auto; background-color: #fff; }

#siteIndicator { position: fixed; bottom: 0; left: 0; z-index: 50; width: 100%; height: 50px; background-color: #fff; }

#siteIndicator ul { width: 100%; height: 100%; font-size: 16px; }

#siteIndicator ul li { float: left; width: 20%; height: 100%; border: 1px solid #ddd; box-sizing: border-box; }

#siteIndicator ul li.on { padding: 5px; box-sizing: border-box; color: #fff; }

#siteIndicator ul li.on a { background-color: #D60815; line-height: 40px; }

#siteIndicator ul li a { display: block; width: 100%; height: 100%; line-height: 50px; text-align: center; font-weight: bold; }

#reserveBox { width: 100%; height: 730px; padding: 125px 0; box-sizing: border-box; background-color: #f0f0f0; }

#inquiryBox { width: 100%; height: 1020px; background: url("../../img/bg/bg_section02.jpg") no-repeat 50% 50%/cover; }

#checkinBox { width: 100%; height: 1020px; background: url("../../img/bg/bg_section03.jpg") no-repeat 50% 50%/cover; }

#timeBox { width: 100%; height: 810px; background: url("../../img/bg/bg_section04.jpg") no-repeat 50% 50%/cover; }

#eventBox { width: 100%; height: 1670px; background: url("../../img/bg/bg_section05.jpg") no-repeat 50% 50%/cover; }

#footBox { width: 100%; height: 480px; background-color: #f0f0f0; }

.main_slide { width: 100%; height: 50vh; min-height: 300px; background-color: #f00; }

.main_slide > ul { position: relative; width: 100%; height: 100%; }

.main_slide > ul > li { position: absolute; width: 100%; height: 100%; }

.main_slide > ul > li:nth-child(1) { background: url("../../img/main_slide/slide_01.jpeg") no-repeat 50% 50%/100% auto; z-index: 1; }

.main_slide > ul > li:nth-child(2) { background: url("../../img/main_slide/slide_02.jpeg") no-repeat 50% 50%/100% auto; }

.main_slide > ul > li:nth-child(3) { background: url("../../img/main_slide/slide_03.jpeg") no-repeat 50% 50%/100% auto; }

.main_slide > ul > li:nth-child(4) { background: url("../../img/main_slide/slide_04.jpeg") no-repeat 50% 50%/100% auto; }

.main_slide > ul > li:nth-child(5) { background: url("../../img/main_slide/slide_05.jpeg") no-repeat 50% 50%/100% auto; }

.main_slide > ul > li:nth-child(6) { background: url("../../img/main_slide/slide_06.jpeg") no-repeat 50% 50%/100% auto; }

.main_slide > ul > li a { display: block; width: 100%; height: 100%; }

.main_indicator { position: absolute; top: 358px; left: 0; right: 0; margin: auto; z-index: 20; width: 154px; height: 22px; background-color: rgba(0, 0, 0, 0.7); }

.main_indicator > ul { float: left; margin-left: 3px; }

.main_indicator > ul > li { float: left; width: 12px; height: 12px; margin-left: 7px; margin-top: 5px; border-radius: 12px; background-color: #fff; }

.main_indicator > ul > li.slide_on { background-color: transparent; margin-top: 3px; border: #D60815 solid 2px; }

.main_indicator > ul > li > a { display: block; width: 100%; height: 100%; }

.main_indicator .ps { float: left; width: 12px; height: 12px; margin-left: 7px; margin-top: 5px; /*  background-color: $white; */ }

.main_indicator .ps > div { width: 12px; height: 12px; }

.main_indicator .ps > div.pause { position: relative; top: 0; width: 12px; height: 12px; }

.main_indicator .ps > div.pause > button { display: block; width: 100%; height: 100%; background-color: #f00; }

.main_indicator .ps > div.play { display: none; position: relative; top: 0; width: 12px; height: 12px; }

.main_indicator .ps > div.play > button { display: block; width: 100%; height: 100%; background-color: #00f; }

.main_indicator .ps > div > button { width: 100%; height: 100%; }

.quickreserve { position: absolute; top: 0; left: 0; right: 0; margin: auto; z-index: 10; padding: 30px 40px; box-sizing: border-box; width: 1280px; height: 200px; margin-top: 380px; background-color: #fff; }

.tabwrap { width: 100%; height: 50px; margin-bottom: 30px; text-align: center; line-height: 50px; }

.mileage_use { float: left; width: 180px; height: 50px; margin-right: 50px; background-color: #f3f3f3; border-radius: 5px; font-weight: bold; }

.mileage_use p { float: left; width: 65%; text-align: center; }

.mileage_use .mileage_slide { position: relative; float: left; width: 27%; height: 16px; margin: 17px 4% 0 0; border-radius: 5px; box-shadow: inset 0 0 1px #aaa; background-color: #ddd; cursor: pointer; }

.mileage_use .mileage_slide #mileage_check { overflow: hidden; position: absolute; width: 0; height: 0; border: 0; }

.mileage_use .mileage_slide .slider { position: absolute; top: -5px; left: 0; width: 30px; height: 24px; background-color: #fff; border-radius: 5px; border: 1px solid #ddd; box-shadow: 0 0 5px #ccc; text-transform: uppercase; line-height: 24px; font-size: 12px; font-weight: normal; }

.way { float: left; font-weight: bold; border-radius: 5px; overflow: hidden; }

.way li { float: left; width: 105px; height: 50px; background-color: #f3f3f3; }

.way li.on { background-color: #D60815; color: #fff; }

.way li a { display: block; width: 100%; height: 100%; }

.way li:nth-child(2) { position: relative; }

.way li:nth-child(2):after, .way li:nth-child(2)::after { content: " "; display: block; position: absolute; right: 0; top: 0; bottom: 0; margin: auto; width: 0; height: 40%; border-right: 1px solid #ddd; }

.way li:last-child a { text-indent: -15px; }

.way li span { display: block; position: relative; left: 0; top: 0; z-index: 5; width: 0; height: 0; }

.way li span:before { content: " "; display: inline-block; position: absolute; top: -27px; left: 75px; border: solid #777; border-width: 0 1px 1px 0; padding: 2px; transform: rotate(-45deg); }

.star { float: left; width: 50px; height: 50px; margin-left: 10px; }

.star a { display: block; width: 100%; height: 100%; padding-top: 15px; box-sizing: border-box; }

.star a span { display: block; width: 20px; height: 20px; margin: auto; background: url("../../img/main_icoset.png") no-repeat 0% 0%/auto 1150%; }

.inputwrap { width: 100%; height: 60px; }

.gosetting { float: left; }

.gosetting li { float: left; width: 194px; height: 50px; border-bottom: 2px solid #6d6e71; margin-right: 25px; }

.gosetting li input { float: left; width: 164px; height: 50px; border: none; background-color: transparent; color: #111; font-weight: bold; font-size: 16px; line-height: 60px; }

.gosetting li a { display: block; float: left; width: 30px; height: 50px; }

.gosetting li a span { display: block; width: 30px; height: 30px; margin-top: 10px; }

.gosetting li:nth-child(1) a span { background: url("../../img/main_icoset.png") no-repeat -1.7% 9%/auto 850%; }

.gosetting li:nth-child(2) a span { background: url("../../img/main_icoset.png") no-repeat -1.7% 9%/auto 850%; }

.gosetting li:nth-child(3) a span { background: url("../../img/main_icoset.png") no-repeat 6% 9%/auto 1000%; }

.gosetting li:nth-child(4) a span { background: url("../../img/main_icoset.png") no-repeat 14% 9%/auto 1000%; }

.gosetting li:nth-child(5) a span { background: url("../../img/main_icoset.png") no-repeat 21% 9%/auto 900%; }

.inquiry { float: right; width: 92px; height: 50px; background-color: #6d6e71; line-height: 50px; text-align: center; color: #fff; font-weight: bold; border-radius: 5px; font-size: 18px; }
